#about{
    font-weight: 100;
}

#about a {
    color: var(--blue);
    font-weight: bold;
}

#about a:hover {
    text-decoration-line: underline;
}

.about-text {
    padding-left: 40px;
    padding-right: 40px;
}

.linkedin {
    height: var(--icon-sm);
    width: var(--icon-sm);
    background: url(../assets/linkedin.png) center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.github {
    height: var(--icon-sm);
    width: var(--icon-sm);
    background: url(../assets/github.png) center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.resume {
    height: var(--icon-sm);
    width: var(--icon-sm);
    background: url(../assets/receipt.png) center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.about-links {
    margin-top: 100px;
}

.about-link-text {
    font-size: 1.25em;
}