body {
    background-color: var(--dark);
    color: var(--light); 
    font-family: 'Raleway', sans-serif;
}

h2 {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: var(--gray);
    /* border: 4px solid var(--gray); */
}

a {
    text-decoration: none;
    color: var(--light);
}

a:hover {
    text-decoration: none;
    color: var(--blue);
}