.jumbotron {
    background: url(../assets/johny-goerend-U_diPCXCBxU-unsplash\ edit1.jpg) center bottom;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
    text-align: center;
}

.display-4 {
    margin-top: 20vh;
    color: var(--dark);
}

.lead {
    color: var(--dark);
}