.portfolio-item {
    height: 300px;
    width: 310px;
    border: 2px solid var(--gray);
    text-align: center;
    transition: 500ms ease;
}

.portfolio-item:hover {
    color: var(--light);
}

/* .project-image {
    height: 266px;
    width: 292px;
    position: absolute;
    top: 40px;
    z-index: -1;
} */

.project-text {
    background-color: var(--gray);
    padding: 8px;
    transition: 500ms ease;
    font-size: 1.2em;
    margin-left: -2px;
}

.portfolio-col>*:hover {
    color: var(--light);
}

.portfolio-item:hover .project-text {
    /* adjust this to fix hover box height */
    padding-bottom: 260px;
    margin-left: -2px;
    transition: 500ms ease;
    color: var(--light);
}

.project-subtext {
    font-weight: 100;
    color: transparent;
    position: absolute;
    display: block;
    margin-left: 18px;
    /* margin-left: -140px; */
    /* text-align: center; */
    /* justify-content: center; */
    top: 10%;
    transition: 500ms ease;
    width: 16em;
    /* width: 50%; */
    /* margin: 0 auto; */
    padding-top: 26px;
    border-top: transparent solid 1px;
    
}

.portfolio-item:hover .project-subtext {
    color: var(--light);
    transition: 500ms ease;
    position: absolute;
    top: 20%;
    border-top: var(--dark) solid 2px;
}

/* put newer projects first */

#project-5 {
    background: url(../assets/crithits.PNG) center top;
    background-size: cover;
}

#project-4 {
    background: url(../assets/pern.PNG) center top;
    background-size: cover;
}

#project-3 {
    background: url(../assets/api.PNG) center top;
    background-size: cover;
}

#project-2 {
    background: url(../assets/static-layout.PNG) center top;
    background-size: cover;
}

#project-1 {
    background: url(../assets/css-creature.PNG) center top;
    background-size: cover;
}