.portfolio-item {
    height: 300px;
    width: 300px;
    border: 2px solid var(--gray);
    margin: 10px;
    text-align: center;
    transition: 500ms ease;
}

.portfolio-item:hover {
    color: var(--light);
}

/* .project-image {
    height: 266px;
    width: 292px;
    position: absolute;
    top: 40px;
    z-index: -1;
} */

.project-text {
    background-color: var(--gray);
    padding: 4px;
    transition: 500ms ease;
    font-size: 1.2em;
}

.portfolio-item:hover .project-text {
    /* adjust this to fix hover box height */
    padding-bottom: 266px;
    transition: 500ms ease;
    color: var(--light);
}

.project-subtext {
    font-weight: 100;
    color: transparent;
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -140px;
    top: 10%;
    transition: 500ms ease;
    width: 250px;
    padding-top: 26px;
    border-top: transparent solid 1px;
}

.portfolio-item:hover .project-subtext {
    color: var(--light);
    transition: 500ms ease;
    position: absolute;
    top: 20%;
    border-top: var(--dark) solid 2px;
}

/* put newer projects first */

#project-4 {
    background: url(../assets/api.PNG) center top;
    background-size: cover;
}

#project-5 {
    background: url(../assets/static-layout.PNG) center top;
    background-size: cover;
}

#project-6 {
    background: url(../assets/css-creature.PNG) center top;
    background-size: cover;
}