#skills {
    margin-top: 132px;
}

.skill-text {
    font-size: 1.4em;
}

.javascript {
    background: url(../assets/java-script.png) center center;
}

.html {
    background: url(../assets/html.png) center center;
}

.css {
    background: url(../assets/css.png) center center;
}

.react {
    background: url(../assets/react.svg) center center;
}

.skill-img {
    height: var(--icon-lg);
    width: var(--icon-lg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}