:root {
    /* https://colorhunt.co/palette/10792 */
    --dark: #1a2638;
    --gray: #484d57f0;
    --blue: #00adb5;
    --light: #eeeeee;

    --icon-lg: 160px;
    --icon-sm: 180px;
}

/* :root {
    --dark: #1b2430;
    --gray: #40454ef0;
    --blue: #00adb5;
    --light: #eeeeee;

    --icon-lg: 240px;
    --icon-sm: 160px;
} */